.cabecalho {
    background-color: #0159e7;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 30%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.Gelia-pimenta{
    width: 15%;
}

.pimentabiquinho{
    background-image: linear-gradient(#424E61,#4ebfe9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.pimenta-div{
    width: 35%;
}