.cabecalho {
    background-color: #0159e7;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
body{
    font-family: 'Raleway', sans-serif;

}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 150px;
}

.Gelia-pimenta{
    width: 15%;
}

.pimentabiquinho{
    background-image: linear-gradient(#424E61,#4ebfe9);
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.pimenta-div{
    width: 35%;
    color: white;
}

.pimentabiquinho-titulo{
    padding: 30px 0;
    color: rgb(255, 255, 255);
}.
