.cabecalho {
    background-color: #ee7f7f;
    color: rgb(14, 5, 5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
body{
    font-family: 'Raleway', sans-serif;

}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 150px;
}

.Gelia-pimentinha{
    width: 80%;
    justify-content: right;
}

.pimentabiquinho{
    background-image: linear-gradient(#ee7f7f,#4ebfe9);
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.pimenta-div{
    width: 35%;
    color: white;
}

.pimentabiquinho-titulo{
    padding: 30px 0;
    color: rgb(255, 255, 255);
    font-size: 50px;
}.
.amandinha{
   
}
.danilo{
    
}
.Pimentabiquinho-texto-um{
    font-size:40px;
}
.Pimentabiquinho-texto-dois{
    font-size: 40px;
}